{
  "domain": "{dev-chlnrr0pco2fi4iu.us.auth0.com}",
  "clientId": "{FiNzbHmU8jJeEORv2Zg6RWBRvB8gSlE6}",
  "authorizationParams": {
    "audience": "{https://dev-chlnrr0pco2fi4iu.us.auth0.com/api/v2/}"
  },
  "apiUri": "http://localhost:3001",
  "appUri": "http://localhost:4200",
  
}
