{
  "domain": "{DOMAIN}",
  "clientId": "{CLIENT_ID}",
  "authorizationParams": {
    "audience": "{API_IDENTIFIER}"
  },
  "apiUri": "http://localhost:3001",
  "appUri": "http://localhost:4200",
  "errorPath": "/error"
}
