<div *ngIf="auth.isAuthenticated()">
  <h4>You are logged in!</h4>

  <h3>About Your Access Token</h3>
  <p>Your <code>access_token</code> has an expiry date of: {{ expiresAt | date:'medium' }}</p>
  <p>The token has been scheduled for renewal, but you can also renew it manually from the navbar if you don't want to wait. This manual renewal button is really just for demonstration and you probably won't want such a control in your actual application.</p>
</div>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
